# Backend
backend/target/
*.class
*.jar
*.war

# Frontend
frontend/node_modules/
frontend/dist/

# Logs
*.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Local private config
backend/src/main/resources/application-local.yml
backend/src/main/resources/application-dev.yml
.env
*.env